# Application
NODE_ENV=production
PORT=5000
MONGODB_URI=mongodb://taskapp:ChangeMeTaskPassword@mongodb-0.mongodb:27017/three-tier-tasks?authSource=three-tier-tasks
VITE_API_BASE_URL=/api

# DockerHub
DOCKERHUB_NAMESPACE=shivaexample
DOCKERHUB_USERNAME=shivaexample
DOCKERHUB_TOKEN=dckr_pat_example_token_value

# ArgoCD
ARGOCD_SERVER=argocd.demo.internal
ARGOCD_AUTH_TOKEN=argocd-demo-api-token

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=EXAMPLEAWSACCESSKEYID
AWS_SECRET_ACCESS_KEY=exampleSecretAccessKeyValue

# Terraform Remote State
TF_STATE_BUCKET=eks-3tier-123456789012-us-east-1-tfstate
TF_LOCK_TABLE=eks-3tier-terraform-locks

# MongoDB Bootstrap
MONGODB_ROOT_USERNAME=rootadmin
MONGODB_ROOT_PASSWORD=ChangeMeRootPassword
MONGODB_APP_USERNAME=taskapp
MONGODB_APP_PASSWORD=ChangeMeTaskPassword
MONGODB_DATABASE=three-tier-tasks
